.tv-noise-overlay {
  position: fixed;
  inset: 0;
  z-index: 99999;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  animation: fadeOutNoise 0.2s 0.5s forwards;
}

.tv-noise {
  width: 100vw;
  height: 100vh;
  background: url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
  background-size: cover;
  opacity: 0.35; /* réduit l'intensité */
  filter: contrast(180%) brightness(0.7); /* moins lumineux */
}

@keyframes fadeOutNoise {
  to {
    opacity: 0;
  }
}